@giotto-jfrog:registry=https://almaviva.jfrog.io/artifactory/api/npm/giotto-npm/
//almaviva.jfrog.io/artifactory/api/npm/giotto-npm/:_password=R2lvdHRvMTIzNCE=
//almaviva.jfrog.io/artifactory/api/npm/giotto-npm/:username=giotto-user
//almaviva.jfrog.io/artifactory/api/npm/giotto-npm/:email=giotto@alma.it
//almaviva.jfrog.io/artifactory/api/npm/giotto-npm/:always-auth=true