@giotto-jfrog:registry=http://jfrog.almaviva.it:8081/artifactory/api/npm/giotto-npm/
//jfrog.almaviva.it:8081/artifactory/api/npm/giotto-npm/:_password=UGEkJHcwcmQxMjM0
//jfrog.almaviva.it:8081/artifactory/api/npm/giotto-npm/:username=giotto-npm
//jfrog.almaviva.it:8081/artifactory/api/npm/giotto-npm/:email=username@almaviva.it
//jfrog.almaviva.it:8081/artifactory/api/npm/giotto-npm/:always-auth=true